---
layout: default
---

<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
    <img src="assets/myphoto.jpeg" alt="Xing Hu's Photo" width="200" class="profile" />
</div>

<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <p>I am an assistant professor at school of software technology, Zhejiang University(ZJU). </p>
    
        <p>I got my Ph.D degree in July 2020 from School of Electronics Engineering and Computer Science (EECS), Peking University, China. 
            My research mainly focuses on software engineering, such as AI for SE, mining software repositories, etc.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title">Education & Employment</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Assistant professor</h3>
                    <div class="time">2020.07 - Present</div>
                </div><!--//upper-row-->
                <div class="company">Zhejiang Univeristy, China</div>
            </div><!--//meta-->
        </div><!--//item-->

                
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">PhD in Computer Software and Theory</h3>
                          <div class="time">2015.9 - 2020.7</div>
                      </div>
                      <div class="company">Peking University</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Bsc in Software Engineering</h3>
                      <div class="time">2011.9 - 2015.7</div>
                  </div>
                  <div class="company">Sichuan University</div>
              </div><!--//meta-->
      </div><!--//item-->

  </section><!--//section-->
